.LinkedIn {
  padding-top: 20px;
}

.linkedin-card {
  width: 100%;
  max-width: 1000px;
  background-color: var(--color-background-dark);
  border-radius: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  margin: auto;
}

/* banner */
.banner {
  width: 100%;
  min-width: 300px;
}

.headshot {
  width: 18%;
  min-width: 60px;
  border: 3px solid var(--color-background-dark);
  border-radius: 50%;
  margin-top: -12%;
  margin-left: 5%;
}

.linkedin-container {
  width: 85%;
  margin: auto;
}

.banner-info-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.banner-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.banner-name {
  display: flex;
  font-size: large;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}

.banner-name>p {
  color: var(--color-text-darker-grey);
  font-size: small;
  font-weight: 500;
}

.shield {
  width: 30px;
  height: 20px;
}

.job {
  margin: 0;
  margin-top: -5px;
}

.location {
  color: var(--color-text-darker-grey);
  font-weight: 500;
}

.linkedin-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 110px;
  padding: 0;
  overflow: hidden;
  border: 3px solid #0072b1;
  border-radius: 5px;
  background-color: #016ea9;
}

.linkedin-connect>p {
  font-size: large;
  font-weight: 800;
  margin: 0;
  color: var(--color-background-dark);
}

.linkedin-logo {
  height: 25px;
  padding: 2px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: var(--color-background-dark);
}

/* Top skills */
.top-skills-container{
  border: 1px solid var(--color-background-border);
  border-radius: 10px;
  height: 60px;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.skills-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 25px;
}

.diamond{
  height: 25px;
}

.top-skills {
  font-size: medium;
  font-weight: 500;
}

.skills {
  padding-left: 35px;
  font-weight: 400;
  margin-top: 0;
}

@media (min-width: 480px) {
  .banner-info-container {
    flex-direction: row;
  }

  .linkedin-connect {
    justify-content: center;
    margin: auto;
  }
}
