.LinkedIn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin-card {
  width: 95%;
  max-height: 95%;
  max-width: 1000px;
  background-color: var(--color-background-dark);
  border-radius: 20px;
  overflow: scroll;
}

/* banner */
.banner {
  width: 100%;
  min-width: 300px;
}

.headshot {
  width: 18%;
  min-width: 60px;
  border: 3px solid var(--color-background-dark);
  border-radius: 50%;
  margin-top: -12%;
  margin-left: 5%;
}

.banner-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  width: 300px;
}

.banner-name {
  display: flex;
  font-size: large;
  flex-direction: row;
  align-items: center;
}

.banner-name>p {
  color: var(--color-text-darker-grey);
  font-size: small;
  font-weight: 500;
}

.shield {
  width: 30px;
  height: 20px;
}

/* Activity list */
.activity-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.activity-list>iframe {
  border-radius: 20px;
}
