/* Class styling for tags */
.light-blue {
  color: var(--color-code-light-blue);
}

.dark-blue {
  color: var(--color-code-dark-blue);
}

.light-yellow {
  color: var(--color-code-light-yellow);
}

.yellow {
  color: var(--color-code-yellow);
}

.large {
  font-size: x-large;
}



/* Styling for projects
================================= */

.project-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  gap: 20px;
  width: 90%;
  margin: auto;
}

.project {
  margin-top: 40px;
  padding: 20px;
  background-color: var(--color-background-dark);
  border: 1px solid var(--color-background-border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.project-img {
  width: 80%;
}

.project-title {

}

.project-text {
  text-align: center;
}

.project-button {
  background-color: var(--color-code-dark-blue);
  padding: 10px;
  border-radius: 10px;

}









/* SweetAlert2 styling modals */
.swal2-popup {
  background-color: var(--color-background-dark);
  color: var(--color-white);
  border: 2px solid var(--color-background-border);
  border-radius: 10px;
}

.swal2-title {
  font-family: var(--font-code);
  opacity: .7;
}

.modal-tech-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-tech-list>p {
  /* Individual tech */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  background-color: var(--color-background-light);
  border: 1px solid var(--color-background-border);
  margin: 0;
  padding: 0;
  height: 35px;
  color: var(--color-code-orange);
}

.modal-tech-list>p>img {
  /* logo for each "tech" */
  height: 20px;
  width: auto;
  margin-right: 10px;
  filter: brightness(0) invert(1);
  opacity: .5;
}

.modal-text {
  color: var(--color-text-light-grey);
}

/* Modal footer */
.swal2-footer {
  border-top: 1px solid var(--color-background-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swal2-footer>a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swal2-footer>a>img {
  width: 100px;
  opacity: .7;
  filter: invert(1);
  align-self: center;
}

@media (min-width: 768px) {
  .project-group {
      grid-template-columns: repeat(auto-fill, minmax(40%, 2fr));
    }
}
