/* Class styling for tags */
.light-blue {
  color: var(--color-code-light-blue);
}

.dark-blue {
  color: var(--color-code-dark-blue);
}

.light-yellow {
  color: var(--color-code-light-yellow);
}

.yellow {
  color: var(--color-code-yellow);
}

/* Title font size */
.large {
  font-size: 1.3rem;
}

/* Very specific selector for when the explorer is open on mobile */
.explorer-hidden>.projects-main>.portfolio-content>.project-group {
  padding-left: 10px;
}

/* Styling for projects
================================= */

.project-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  gap: 30px;
  width: 90%;
  /* margin-left: 10px; */
}

.project {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--color-background-dark);
  border: 1px solid var(--color-background-border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.project-img {
  width: 80%;
}

.project-text {
  text-align: center;
}

.project-button {
  position: relative;
  height: 30px;
  width: 50%;
  border-radius: 3px;
  font-weight: 600;
  font-size: medium;
  overflow: hidden;
  z-index: 1;
}

.project-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 47%;
  border: 2px solid var(--color-button-blue);
  height: 80%;
  transition: height 0.3s ease, width 0.3s ease, left 0.3s ease;
  z-index: -1;
}

.project-button:hover::before {
  height: 100%;
  width: 100%;
  left: 0;
  background-color: var(--color-button-blue);
}









/* SweetAlert2 styling modals */
.swal2-popup {
  background-color: var(--color-background-dark);
  color: var(--color-white);
  border: 2px solid var(--color-background-border);
  border-radius: 10px;
}

.swal2-title {
  font-family: var(--font-code);
  opacity: .7;
}

.modal-tech-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-tech-list>p {
  /* Individual tech */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  background-color: var(--color-background-light);
  border: 1px solid var(--color-background-border);
  margin: 0;
  padding: 0;
  height: 35px;
  color: var(--color-code-orange);
}

.modal-tech-list>p>img {
  /* logo for each "tech" */
  height: 20px;
  width: auto;
  margin-right: 10px;
  filter: brightness(0) invert(1);
  opacity: .5;
}

.modal-text {
  color: var(--color-text-light-grey);
}

/* Modal footer */
.swal2-footer {
  border-top: 1px solid var(--color-background-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swal2-footer>a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swal2-footer>a>img {
  width: 100px;
  opacity: .7;
  filter: invert(1);
  align-self: center;
}

/* Tablet
==========================================
==========================================*/
@media (min-width: 480px) {
  .project-group {
    margin:auto;
  }
  /* Very specific selector for when the explorer is open on mobile.
  reseting to 0 for anything bigger than mobile */
  .explorer-hidden>.projects-main>.portfolio-content>.project-group {
    padding-left: 0px;
  }

}

/* Laptop
=======================*/
@media (min-width: 768px) {
  /* switch to two columns for projects */
  .project-group {
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }
}

/* Large screens
=======================*/
@media (min-width: 1440px) {

}
