:root {
  /* Colors from vs code */
  --color-background-dark: #181818;
  --color-background-light: #1f1f1f;
  --color-background-highlighted: #2a2d2e;
  --color-code-orange: #ce9178;
  --color-code-light-blue: #7cd6fe;
  --color-code-dark-blue: #569cd6;
  --color-code-green: #6a9955;
  --color-text-light-grey: #9dc0cc;
  --color-text-darker-grey: #697681;

  /* Fonts */
  --font-code: Consolas,
    'Courier New',
    monospace;
}

.App {
  background-color: var(--color-background-dark);
  color: var(--color-text-light-grey);
}
