:root {
  /* Colors from vs code */
  --color-background-dark: #181818;
  --color-background-light: #1f1f1f;
  --color-background-border: #2b2b2b;
  --color-background-highlighted: #2a2d2e;
  /* Code colors */
  --color-code-orange: #ce9178;
  --color-code-light-blue: #7cd6fe;
  --color-code-dark-blue: #569cd6;
  --color-code-green: #6a9955;
  --color-code-light-yellow: #dcdcaa;
  --color-code-yellow: #ffd710;
  --color-code-pink: #c586c0;
  /* Non code text */
  --color-text-light-grey: #aac4cd;
  --color-text-darker-grey: #697681;
  --color-white: #e8e7e7;

  /* Fonts */
  --font-code: Consolas,
    'Courier New',
    monospace;
}

html {
  background-color: var(--color-background-dark);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: 95%;
  height: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background: var(--color-background-light);
  overflow: scroll;
  scrollbar-width: thin;
  /* Make the scrollbar thinner */
  scrollbar-color: var(--color-text-darker-grey) var(--color-background-light);
  /* give the scrollbar and then the track color */
}

body {
  overflow: hidden;
}
/* Remove all button default styles */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* All decoration and behavior removed from anchors */
a {
  text-decoration: none;
  /* Remove underlines */
  color: inherit;
  /* Inherit color from parent */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

a:visited {
  color: inherit;
  /* Inherit color from parent, even after link is visited */
}

a:hover,
a:focus {
  text-decoration: none;
  /* Remove underlines on hover/focus */
  outline: none;
  /* Remove outline on focus */
}

/* Remove all list styling */
ul,
ol {
  list-style-type: none;
  /* Remove bullet points or numbers */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margin */
  margin-left: 5px;
  padding-left: 10px;
  /* adujust these 2 to make the dropdown line centered */
}

li {
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margin */
}

.pointer {
  cursor: pointer;
}

/* Default/mobile styles
==========================================
==========================================*/
.App {
  background-color: var(--color-background-dark);
  color: var(--color-white);
  font-weight: 200;
  font-size: small;
}

/* TOP TITLE BAR */
.titlebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 15px;
  border-bottom: 1px solid var(--color-background-border);
  background-color: var(--color-background-light);
}

.titlebar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titlebar-vscode-logo {
  width: 20px;
  height: auto;
}

.titlebar-options {
  display: none;
}

.titlebar-options>li {
  padding: 5px;
  cursor: default;
}

.titlebar-options>li:hover {
background-color: var(--color-background-highlighted);
border-radius: 5px;

}

.titlebar>p {
  flex-grow: 1;
  text-align: center;
}

.browser-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;
  height: 15px;
  font-size: 1.1rem;
  color: var(--color-text-darker-grey)
}

.browser-line {
  margin-top: -11px;
}

.browser-x {
  margin-top: -5px;
}

/* Main page content */
.page-content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* height minus titlebar and footer */
  height: calc(100vh - 64px);
}

/* SIDERBAR */
.side-bar,
.explorer,
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-right: 1px solid var(--color-background-border);
}

.side-bar {
  justify-content: space-between;
  width: 40px;
}

.side-bar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-top: 15px;
}

.side-bar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-bottom: 15px;
}

/* EXPLORER */
.explorer {
  width: 15%;
  min-width: 140px;
  max-width: 200px;
  align-items: flex-start;
}

.explorer>p {
  margin-top: 0;
  padding: 10px;
}

.file-list-container {
  padding-left: 5px;
  font-size: .9rem;
}

.file-list {
  border-left: 1px solid var(--color-background-border);
}

.file {
  border: none !important;
  background-color: var(--color-background-dark) !important;
}

.explorer-files * {
  margin-top: 8px;
}

.accordian {
  cursor: pointer;
}

.lang-logo {
  width: 15px;
  margin-right: 5px;
  margin-bottom: -2px;
}

/* File tabs and main page */
.main-container {
  height: 100%;
}

/* main-container sizing if explorer is open or not */
.explorer-visible {
  width: 60%;
}

.explorer-hidden {
  width: 90%;
}

.files-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  overflow-y: hidden;
  /* Disable vertical scrolling */
  scrollbar-width:thin;
  /* Make the scrollbar thinner */
  scrollbar-color: var(--color-text-darker-grey) var(--color-background-light);
  /* Make the scrollbar grey and the track transparent */
}

/* For Webkit browsers like Chrome and Safari */
.files-tabs::-webkit-scrollbar {
  height: 8px;
  /* Height of the scrollbar */
}

.files-tabs::-webkit-scrollbar-track {
  background: transparent;
  /* Make the track transparent */
}

.files-tabs::-webkit-scrollbar-thumb {
  background-color: grey;
  /* Make the handle grey */
  border-radius: 20px;
  /* Make the handle round */
  border: 2px solid transparent;
  /* Make the handle have a transparent border */
}

.file-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  border-right: 1px solid var(--color-background-border);
  border-bottom: 1px solid var(--color-background-border);
  margin: 0;
  padding: 0;
  height: 35px;
}

.active {
  background-color: var(--color-background-light);
  border-bottom: none;
  border-top: 4px solid var(--color-code-dark-blue);
}

/* MAIN CONTENT */

/* FOOTER */

.branch-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15px;
  width: 100vw;
  border-top: 1px solid var(--color-background-border);
  padding-top: 5px;
  padding-bottom: 5px;
}

.branch-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin-left: 15px;
}

.branch-main,
.branch-update,
.notifications-container {
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.branch-main{
  width: 50px;
  justify-content: space-between;
}

.branch-update {
  width: 60px;
  justify-content: space-evenly;
}

.notifications-container {
  margin-right: 15px;
}

/* Tablet
==========================================
==========================================*/
@media (min-width: 480px) {
  /* main-container sizing if explorer is open or not */
  .explorer-visible {
    width: 75%;
  }
  .explorer-hidden {
    width: 95%;
  }
}

/* Laptop
=======================*/
@media (min-width: 768px) {
  .titlebar-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin-left: 20px;
  }

  /* main-container sizing if explorer is open or not */
  .explorer-visible {
    width: 90%;
  }

  .explorer-hidden {
    width: 100%;
  }
}
