html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Remove all button default styles */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* All decoration and behavior removed from anchors */
a {
  text-decoration: none;
  /* Remove underlines */
  color: inherit;
  /* Inherit color from parent */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

a:visited {
  color: inherit;
  /* Inherit color from parent, even after link is visited */
}

a:hover,
a:focus {
  text-decoration: none;
  /* Remove underlines on hover/focus */
  outline: none;
  /* Remove outline on focus */
}

/* Remove all list styling */
ul,
ol {
  list-style-type: none;
  /* Remove bullet points or numbers */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margin */
}

li {
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margin */
}

/* Styling tabs */

.App {
  display: flex;
  flex-direction: row;
}

.main-page-tab-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
}

[class^="tab-"] {
  display: flex;
  height: 100%;
  width: 33%
}

