/* whole page */

@keyframes moveData {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveBinary {
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-177px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-30%);
  }

  to {
    transform: translateY(0);
  }
}

.slideUp.start {
  animation: slideUp 2s ease-out forwards;
}

.slideDown.start {
  animation: slideDown 2s ease-out forwards;
}

.fadeIn.start {
  animation: fadeIn 2s ease-out forwards;
}

.slideInFromLeft.start {
  animation: slideInFromLeft 2s ease-out forwards;
}

.slideInFromRight.start {
  animation: slideInFromRight 2s ease-out forwards;
}

.blankDiv {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  height: 50px;
}

.fillTheBlankLine {
  height: 2px;
  background-color: #fff;
  width: 40vw;
  margin-bottom: 15px;
  margin-left: 20px;
}

.blankIs {
  font-size: 5vw;
}

.black {
  background-color: black !important;
}

.white {
  color: white;
}

/* Binary lines */
@import url('https: //fonts.googleapis.com/css2?family=Audiowide&display=swap');
.binary {
  position: absolute;
  bottom: -6px;
  width: 100vw;
  text-align: center;
  animation: moveBinary 5s linear infinite;
  font-size: 20px;
  font-family: 'Audiowide', monospace;
}

.bineryDiv {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.fullStack {
  margin: 0;
  font-size: 6vw;
  color: white;
  width: 35vw;
  text-align: center;
}

/* Intro */
.introTab {
  background-color: var(--color-black);
  height: 100vh;
  width: calc(100% - 40px);
}

.introLeftWire{
  width: 30%;
  margin-top: 20px;
  margin-left: 20px;
}

.introBothWire {
  width: 25%;
  transform: scaleY(-1);
  rotate: -45deg;
  margin-left: 62vw;
  margin-top: -100px;
}

.headshotDiv {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.headshotImg {
  width: 50vw;
  max-width: 350px;
  border-radius: 50%;
  border: 4px solid var(--color-background-dark);

}

.darkGrey {
  color: var(--color-background-dark);
}

.name {
  width: 60vw;
  text-align: center;
}

.elevatorPitch {
  text-align: center;
}

/* VSCODE */
.vscodeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* UXUI */
.uxuiContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.uxuiRightWire {
  width: 30%;
  margin-top: 20px;
  margin-left: 60vw;
}
/* BACKEND */
.backendLeftWire {
  width: 25%;
  margin-left: 20px;
  margin-top: 20px;
  filter: invert(100%);
}

.dataLine {
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #000, #000, #000, #fff, #000, #000, #000);
  background-size: 200% 200%;
  animation: moveData 6s linear infinite;
}
